body,
html {
  width: 100%;
  height: auto;
  background: radial-gradient(1000% 120% at 50% 80%, white, #9DC8D3);
  background-repeat: no-repeat;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.wrap .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .top .left img {
  margin-top: 50%;
  cursor: pointer;
}
.wrap .top .right input {
  margin-top: 40px;
  background: #F0EBE3;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #898B91;
  padding: 1rem 0 1rem 1.5rem;
  border: none;
}
.wrap .top .right input::placeholder {
  background: url("../../pic/Common/search.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 30px;
}
.wrap .title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.wrap .title h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.04em;
  color: #424452;
}
.wrap .title .titleRight {
  display: flex;
  gap: 1rem;
}
.wrap .title .titleRight .RWDIcon {
  display: none;
}
.wrap .title .titleRight .timeOrder {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.wrap .title .titleRight .timeOrder .select {
  width: 242px;
  color: #424452;
}
.wrap .title .titleRight .timeOrder .select .box {
  background: #F0EBE3;
  border-radius: 40px;
  border-radius: 40px;
  background: #F0EBE3;
  padding: 1rem 0 1rem 24px;
  position: relative;
}
.wrap .title .titleRight .timeOrder .select .box img {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .title .titleRight .timeOrder .select ul {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(29, 31, 40, 0.04), 0px 8px 16px rgba(66, 68, 82, 0.16);
  border-radius: 16px;
  padding: 30px 0 8px 24px;
  display: none;
}
.wrap .title .titleRight .timeOrder .select ul li {
  padding-bottom: 1rem;
}
.wrap .title .titleRight .timeOrder .select ul li:hover {
  font-weight: 600;
}
.wrap .title .titleRight .activeStatus {
  display: flex;
  flex-direction: column;
}
.wrap .title .titleRight .activeStatus .select {
  width: 242px;
}
.wrap .title .titleRight .activeStatus .select .box {
  background: #F0EBE3;
  border-radius: 40px;
  border-radius: 40px;
  background: #F0EBE3;
  padding: 1rem 0 1rem 24px;
  position: relative;
  display: flex;
  align-items: center;
}
.wrap .title .titleRight .activeStatus .select .box img {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .title .titleRight .activeStatus .select .box .number {
  background: #424452;
  border-radius: 12px;
  color: #FFFFFF;
  padding: 2px 8px;
  margin-left: 12px;
}
.wrap .title .titleRight .activeStatus .select ul {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(29, 31, 40, 0.04), 0px 8px 16px rgba(66, 68, 82, 0.16);
  border-radius: 16px;
  padding: 30px 0 8px 24px;
  display: none;
}
.wrap .title .titleRight .activeStatus .select ul li {
  padding-bottom: 1rem;
}
.wrap .title .titleRight .activeStatus .select ul li input[type=checkbox] {
  background: #424452;
  width: 18px;
}
.wrap .title .titleRight .activeStatus .select ul li:hover {
  font-weight: 600;
}
.wrap .dataTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.wrap .dataTitle input {
  background: #F0EBE3;
  border-radius: 40px;
  letter-spacing: 0.01em;
  color: #424452;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 6px 16px;
  cursor: pointer;
  margin-right: 1.5rem;
}
.wrap .dataTitle .c2 {
  color: #FFFFFF;
  background: #424452;
}
.wrap .dataTitle h5 {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0.15em;
  color: #898B91;
}
.wrap .cardGroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5%;
}
.wrap .cardGroup .row {
  width: 30%;
  margin-top: 32px;
  margin-bottom: 3.5rem;
}
.wrap .cardGroup .row .card {
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  border-radius: 8px;
  height: 450px;
  overflow: hidden;
}
.wrap .cardGroup .row .card .errorImg {
  height: 240px;
  width: 100%;
}
.wrap .cardGroup .row .card .textWrap {
  padding: 1rem;
}
.wrap .cardGroup .row .card .textWrap .cardTitle {
  display: flex;
  justify-content: space-between;
}
.wrap .cardGroup .row .card .textWrap .cardTitle .tag {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #3975D4;
  background: #DEEFFF;
  border-radius: 8px;
  padding: 3px 12px;
}
.wrap .cardGroup .row .card .textWrap .cardTitle .tagComing {
  color: #F3CC57;
  background: #FFFCF1;
}
.wrap .cardGroup .row .card .textWrap .cardTitle small {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #898B91;
}
.wrap .cardGroup .row .card .textWrap h3 {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #424452;
}
.wrap .cardGroup .row .card .textWrap h5 {
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #898B91;
}
.wrap .cardGroup .row .card .textWrap p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-top: 12px;
  letter-spacing: 0.01em;
  color: #898B91;
}
.wrap .cardGroup .row .card .textWrap small {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #898B91;
  text-align: right;
  margin-left: auto;
}
.wrap .cardGroup .row .card:hover {
  cursor: pointer;
}

.titleRWD {
  display: none;
}

.meetingSmallCard {
  display: none;
}

@media screen and (max-width: 568px) {
  .meetingSmallCard {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 86%;
    margin: 0 auto;
    padding: 32px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  .meetingSmallCard .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .meetingSmallCard .title h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #424452;
  }
  .meetingSmallCard .search {
    position: relative;
    margin-top: 26px;
  }
  .meetingSmallCard .search input {
    background: #F0EBE3;
    border-radius: 40px;
    border: none;
    width: 100%;
    padding: 1rem 0 1rem 24px;
  }
  .meetingSmallCard .search img {
    position: absolute;
    top: 22.5%;
    right: 5%;
  }
  .meetingSmallCard .search ul {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 1.25rem 0 0 26px;
    position: absolute;
    width: 100%;
    display: none;
  }
  .meetingSmallCard .search ul li {
    padding-bottom: 1rem;
  }
  .meetingSmallCard .search ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #424452;
  }
  .meetingSmallCard .timeOrder {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    margin-top: 1rem;
  }
  .meetingSmallCard .timeOrder .select {
    width: 100%;
    color: #424452;
  }
  .meetingSmallCard .timeOrder .select .box {
    background: #F0EBE3;
    border-radius: 40px;
    border-radius: 40px;
    background: #F0EBE3;
    padding: 1rem 0 1rem 24px;
    position: relative;
    margin-top: 0.5rem;
  }
  .meetingSmallCard .timeOrder .select .box img {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  .meetingSmallCard .timeOrder .select ul {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(29, 31, 40, 0.04), 0px 8px 16px rgba(66, 68, 82, 0.16);
    border-radius: 16px;
    padding: 30px 0 8px 24px;
    display: none;
  }
  .meetingSmallCard .timeOrder .select ul li {
    padding-bottom: 1rem;
  }
  .meetingSmallCard .timeOrder .select ul li:hover {
    font-weight: 600;
  }
  .meetingSmallCard .activeStatus {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .meetingSmallCard .activeStatus .select {
    width: 100%;
  }
  .meetingSmallCard .activeStatus .select .box {
    background: #F0EBE3;
    border-radius: 40px;
    border-radius: 40px;
    background: #F0EBE3;
    padding: 1rem 0 1rem 24px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  .meetingSmallCard .activeStatus .select .box .number {
    background: #424452;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 2px 8px;
    margin-left: 12px;
  }
  .meetingSmallCard .activeStatus .select .box img {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  .meetingSmallCard .activeStatus .select ul {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(29, 31, 40, 0.04), 0px 8px 16px rgba(66, 68, 82, 0.16);
    border-radius: 16px;
    padding: 30px 0 8px 24px;
    display: none;
  }
  .meetingSmallCard .activeStatus .select ul li {
    padding-bottom: 1rem;
  }
  .meetingSmallCard .activeStatus .select ul li input[type=checkbox] {
    background: #424452;
    width: 18px;
  }
  .meetingSmallCard .activeStatus .select ul li:hover {
    font-weight: 600;
  }
  .menu {
    display: none;
  }
  .titleRWD {
    display: block;
    position: relative;
  }
  .titleRWD img {
    position: absolute;
    top: 30%;
    left: 7%;
  }
  .titleRWD h5 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 1rem 0;
  }
  .wrap {
    max-width: 400px;
  }
  .wrap .top .left input {
    display: none;
  }
  .wrap .top .right {
    width: 100%;
    text-align: center;
  }
  .wrap .top .right input {
    margin: 0;
    width: 85%;
  }
  .wrap .title {
    align-items: center;
  }
  .wrap .title h1 {
    font-weight: 600;
    font-size: 40px;
  }
  .wrap .title .right {
    display: none;
  }
  .wrap .title .titleRight .timeOrder {
    display: none;
  }
  .wrap .title .titleRight .activeStatus {
    display: none;
  }
  .wrap .title .titleRight .RWDIcon {
    display: block;
  }
  .wrap .dataTitle {
    margin: 0;
  }
  .wrap .dataTitle .c2 {
    color: #FFFFFF;
    background: #424452;
    margin-right: 8px;
  }
  .wrap .dataTitle h5 {
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    letter-spacing: 0.15em;
    color: #898B91;
  }
  .wrap .cardGroup .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .wrap .cardGroup .row .col {
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    margin-top: 1rem;
  }
  .wrap .cardGroup .row .col .textWrap {
    padding: 1rem;
  }
  .wrap .cardGroup .row .col .textWrap .cardTitle {
    display: flex;
    justify-content: space-between;
  }
  .wrap .cardGroup .row .col .textWrap .cardTitle .tag {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #3975D4;
    background: #DEEFFF;
    border-radius: 8px;
    padding: 3px 12px;
  }
  .wrap .cardGroup .row .col .textWrap .cardTitle .tagComing {
    color: #F3CC57;
    background: #FFFCF1;
  }
  .wrap .cardGroup .row .col .textWrap .cardTitle small {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #898B91;
  }
  .wrap .cardGroup .row .col .textWrap h3 {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #424452;
  }
  .wrap .cardGroup .row .col .textWrap h5 {
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #898B91;
  }
  .wrap .cardGroup .row .col .textWrap p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-top: 12px;
    letter-spacing: 0.01em;
    color: #898B91;
  }
  .wrap .cardGroup .row .col .textWrap small {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #898B91;
    text-align: right;
    margin-left: auto;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=news.css.map */