body,
html {

    background: linear-gradient(175deg, #93B1A6 0%, #fff 20%);
}

img {
    max-width: 100%;
}

.topic {
    h1 {
        font-family: 'Kiwi Maru';
        font-style: normal;
        font-weight: 500;
        margin: 0;
        padding: 0;
        letter-spacing: 0.04em;
        color: #424452;

    }
}


.topic {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
            text-align: right;
            align-self: baseline;
            font-weight: 700;
            font-size: 32px;
            text-align: right;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            margin: 0;
            padding: 0;
            margin-bottom: .5rem;
            margin-left: auto;

        }

        h1 {
            font-size: 64px;
            margin: 0;
            padding: 0;
            font-size: 160px;
        }
    }
}

.wrap {

    display: flex;
    justify-content: space-between;
    margin: 10rem auto;
    max-width: 1200px;


    .article {

        .content {
            max-width: 760px;

            .back {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                input {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 12px 16px;
                    gap: 10px;
                    width: 107px;
                    height: 48px;
                    background: #F0EBE3;
                    border-radius: 40px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }

                img {
                    cursor: pointer;
                }
            }



        }

        .fans {
            margin: 2rem 0 4rem 0;

            img {
                margin-right: 2rem;
            }
        }

        .imgGroup1 {
            padding: 4rem;
            display: flex;
            justify-content: space-around;
        }

        .hr {
            width: 741px;
            height: 0px;

            /* Light/01 */

            border: 0.5px solid #DFDFDF;
        }

        .LR {
            display: flex;
            justify-content: space-between;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                text-align: right;
                letter-spacing: 0.01em;
                color: #424452;
                text-decoration: none;
                margin: 30px 0;

                h4 {
                    margin-left: 12px;
                }
            }

            .previous {
                display: flex;
            }

            .next {
                display: flex;
            }
        }
    }

    .catelog {
        max-width: 190px;

        .articlesCatelog {
            h2 {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.01em;
                color: #424452;
                margin-bottom: 40px;
            }

            .title {
                max-width: 191px;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.04em;
                display: flex;
                justify-content: space-between;
                color: #898B91;
                transition: .15s;
                margin-top: 40px;

                &:hover {
                    cursor: pointer;
                    // transform: scale(1.025);
                    color: #424452;
                    font-weight: 600;
                }
            }

            .titleActive {
                color: #424452 !important;
                font-weight: 700 !important;

            }

            .titleSecActive {
                color: #424452 !important;
                font-weight: 700 !important;
                border-bottom: #424452 1px solid;
            }

            ul {
                color: #898B91;
                display: none;


                li {
                    padding: 0;
                    margin: 0;
                    margin-top: 1rem;

                    :hover {
                        box-shadow: 0 0;

                    }

                    a {
                        font-weight: 400;
                        font-size: 18px;
                        padding: 0;
                        margin: 0;
                        letter-spacing: 0.01em;
                        text-decoration: none;
                        color: #898B91;

                        &:hover {
                            color: #424452;
                            font-weight: 700;
                            border-bottom: #424452 1px solid;
                        }
                    }

                }
            }

            margin-bottom: 7.5rem;
        }
    }

    .catelog2 {
        ul {
            li {
                margin-top: 40px;

                a {
                    text-decoration: none;
                    color: #898B91;
                    font-weight: 400;
                    font-size: 20px;

                    &:hover {
                        color: #424452;
                    }
                }
            }
        }

        .relatedArticles {
            margin-top: 100px;
        }
    }

    .relatedArticles {


        h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.04em;
            color: #424452;
            margin-bottom: 40px;
        }

        .card {
            max-width: 230px;

            .tag {
                padding: 1px 6px;
                gap: 10px;
                width: 92px;
                height: 21px;
                background: #FFFFFF;
                border: 0.5px solid #424452;
                border-radius: 8px;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.01em;
                color: #333541;
            }

            .cardText {
                padding: 1rem;

                h3 {
                    margin-top: 10px;
                    margin-bottom: 12px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.01em;
                    color: #424452;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.04em;
                    color: #898B91;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    img {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .topic {

        .text {
            h3 {
                font-weight: 600;
                font-size: 1rem;
            }

            h1 {
                font-weight: 500;
                font-size: 3rem;
            }
        }

        .bigIcon {
            width: 30%;
        }
    }


    .wrap {


        margin: 3rem auto;
        max-width: 376px;


        .article {

            .content {
                max-width: 576px;

                .imgGroup1 {

                    padding: 3rem 0;


                    img {
                        width: 80px;
                    }
                }

                .back {
                    img {
                        display: none;
                    }

                    small {
                        margin-left: auto;
                        margin-right: 5rem;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }

                .hr {
                    width: 90%;
                    border: 0.5px solid #B1B1B1;
                }





            }

            .fans {
                display: none;
            }

            .imgGroup1 {
                padding: 4rem;
                display: flex;
                justify-content: space-around;
            }

            .hrSN {
                display: none;
            }

            .LR {
                display: none;

            }
        }

        .catelog {
            max-width: 190px;
            display: none;

            .articlesCatelog {
                h2 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.01em;
                    color: #424452;
                    margin-bottom: 40px;
                }

                .title {
                    max-width: 191px;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0.04em;
                    display: flex;
                    justify-content: space-between;
                    color: #898B91;

                }

                .titleActive {
                    color: #424452 !important;
                }

                ul {
                    color: #898B91;

                    li {
                        a {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 36px;
                            letter-spacing: 0.01em;
                            text-decoration: none;
                            color: #898B91;

                            &:hover {
                                color: #424452;
                            }

                            .titleSecActive {
                                color: #424452 !important;
                            }
                        }



                    }
                }

                margin-bottom: 7.5rem;
            }
        }

        .relatedArticles {
            display: none;

            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
                letter-spacing: 0.04em;
                color: #424452;
                margin-bottom: 40px;
            }

            .card {
                max-width: 230px;

                a {
                    text-decoration: none;

                    .tag {
                        padding: 1px 6px;
                        gap: 10px;
                        width: 92px;
                        height: 21px;
                        background: #FFFFFF;
                        border: 0.5px solid #424452;
                        border-radius: 8px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.01em;
                        color: #333541;
                    }

                    .cardText {
                        padding: 1rem;

                        h3 {
                            margin-top: 10px;
                            margin-bottom: 12px;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 28px;
                            letter-spacing: 0.01em;
                            color: #424452;
                        }

                        p {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: 0.04em;
                            color: #898B91;
                        }
                    }
                }
            }
        }
    }


}